{% extends "navbar.html" %}
{% block content %}
<html>
<div class="login_div">
    <h1>Log In Page</h1>
    <form action='/check_login' method='post'>
        <label for="Username"> Username:</label>
        <input name="Username" type="text" required><br><br>
        <label for="Password">Password:</label>
        <input name="Password" type="password" required><br><br>
        <input type="submit" value="Log In">
    </form>
    <p><a href="/signup"> Sign Up Here</a></p>
</div>

</html>

<style>
    .login_div {
        text-align: center;
        padding-top: 5vh;
    }
</style>
{% endblock %}