{% extends "navbar.html" %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>Project NRJ Checkpoint</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        This is main.html <br>
                         
        A familiar beam of light shines down. The beam of light descends onto a stage. Lightning flashes to reveal Prince Charming riding his valiant steed Chauncey across the open plains. The wind blows back his golden mane.
                         
    </div>
</body>

</html>
{% endblock %}