{% extends "navbar.html" %}

{% block content %}
<!DOCTYPE html>
<html>

<div id="page_main_div" class="main_div">
    <div class="dishbanner">
        <h2 class="dishname">{{page_data["name"]}}</h2>
        <h3 class="dishgame">{{page_data["game"]}}</h3>
        <h4 class="dishcate">{{page_data["cate"]}}</h4>
        
        <br><form method='POST' action="/check_page" enctype='multipart/form-data'>
            <label for="send_edit"> Enter raw json data:</label>
            <input id="send_edit" name="send_edit" type='text'> <br>
            <label for="approve_overwrite"> Enter GCS blob name to use to overwrite original:</label>
            <input id="approve_overwrite" name="approve_overwrite" type='text'> <br>
            <input type="submit" value="Submit"> <br> <br>
        </form>

        <p>
            {{page_data["desc"]}}
            <br>
            <img src={{page_data["img"]}} alt="">
        </p>
    </div>

    <div class="dishrecipe">
        <ul>
            {% for ingr in page_data["ingr"]: %}
            <li>{{ingr}}</li> <br>
            {% endfor %}
        </ul>
        <br>
        <ol>
            {% for steps in page_data["step"]: %}
            <li>{{steps}}</li> <br>
            {% endfor %}
        </ol>
    </div>
</div>


</body>

</html>
{% endblock %}