{% extends "navbar.html" %}

{% block content %}
<!DOCTYPE html>
<html>

<div id="page_main_div" class="main_div">
    <div class="dishbanner">
        <h2 class="dishname">{{page_data["name"]}}</h2>
        <h3 class="dishgame">{{page_data["game"]}}</h3>
        <h4 class="dishcate">{{page_data["cate"]}}</h4>
        <p>
            {{page_data["desc"]}}
            <br>
            <img src={{page_data["img"]}} alt="">
        </p>
    </div>

    <div class="dishrecipe">
        <ul>
            {% for ingr in page_data["ingr"]: %}
            <li>{{ingr}}</li> <br>
            {% endfor %}
        </ul>
        <br>
        <ol>
            {% for steps in page_data["step"]: %}
            <li>{{steps}}</li> <br>
            {% endfor %}
        </ol>
    </div>
</div>

<div class="editing">

    {% if editing %}
    
        <h2>Editing Mode</h2>
        
        <form method='POST' enctype='multipart/form-data'>
            <textarea id="freeform" name="freeform" rows="20" cols="100">
            {
               {{ page_data }}
                    
            }
            </textarea>
            <input type='submit' name='edits' value='Submit Edits'>
        </form>
        
    {% else %}
        <form method='POST' enctype='multipart/form-data'>
            <input type='submit' name='suggest' value='Suggest Edits'>
        </form>
    {% endif%}
    
    <p>{{ message }}</p>

</div>

</body>

</html>

<style>
    .editing {
        float: right;
        min-width: 60%;
    }

    .main_div {
        float: left;
        width: 40%;
    }
</style>

{% endblock %}